.hncomment {
    margin: 1em 0;
}

.hncomment__replies {
    margin-left: 2em;
}

.hncomment--error {
    display: flex;
}

.hncomment--error .error {
    margin: 0;
    font-size: smaller;
}

.hncomment__action {
    -webkit-appearance: none;
}
