{
    "presets": ["es2015"],
    "plugins": [
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-async-to-generator",
        "transform-skate-flow-props"
    ]
}
