{
    "presets": [["env", {
        "targets": {
            "browsers": ["last 2 versions"],
            "node": "8"
          }
    }]],
    "plugins": [
        "syntax-dynamic-import",
        ["transform-class-properties", { "spec": true }]
    ]
}
